{% extends 'base.html.twig' %}

{% block body %}
    <h1>Episode</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Originaltitle</th>
                <td>{{ episode.originalTitle }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Seasonnumber</th>
                <td>{{ episode.seasonNumber }}</td>
            </tr>
            <tr>
                <th>Releasedate</th>
                <td>{% if episode.releaseDate %}{{ episode.releaseDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('episode_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('episode_edit', { 'id': episode.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
